.top {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 60px;
    padding-inline: 60px;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
}

.topRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.topRight i {
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    .top {
        height: 30px;
        padding: 10px;
    }
}